# Python 관련 파일 무시
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/

# IDE 및 OS 관련 파일 무시
.DS_Store # macOS
Thumbs.db # Windows
.vscode/ # VS Code 설정 (선택 사항, 팀 개발 시 공유하기도 함)
*.sublime-project
*.sublime-workspace

# 환경 설정 파일 (비밀 정보 포함)
.env

# Docker 관련 파일 무시
# docker-compose.yml에서 db_data 볼륨으로 지정된 MySQL 데이터 디렉토리
db_data/
*.log # 컨테이너 내부 로그가 호스트로 마운트될 경우

# 데이터베이스 관련 파일 무시 (로컬에서 실수로 생성될 경우)
*.sqlite
*.db

app/credential/*.json